.page {
  width: 100%;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 30px 20px 60px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #1d1e21;
  margin-bottom: 20px;
}

.owner {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #93939a;
  margin: 0;
  margin-bottom: 8px;
}

.name {
  color: #1d1e21;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #93939a;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 18px;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 38px;
  background: rgba(89, 177, 122, 0.1);
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #59b17a;
  cursor: pointer;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 38px;
  background: #59b17a;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  color: #f7f8fa;
}

.tabsCont {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.tab {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 16px;
  margin-bottom: -1px;
  color: #93939a;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease;
  cursor: pointer;
}

.tab:hover {
  color: #666;
}

.tabActive {
  color: #1d1e21;
  border-bottom: 2px solid #59b17a;
}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    padding: 40px 40px 70px;
  }

  .title {
    margin-bottom: 40px;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .owner {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    padding: 60px 138px 50px;
  }

  .title {
    margin: 0;
    text-wrap: nowrap;
  }

  .shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .text {
    text-wrap: nowrap;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .buttons {
    margin: 0;
  }
}
