.titleCont {
  position: relative;
}

.page {
  min-height: 92vh;
  width: 100%;
  background-color: #f7f8fa;
  background-image: url('/elements.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.image {
  position: absolute;
  top: -35px;
  right: 20px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #1d1e21;
}

.span {
  color: #59b17a;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.field {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #1d1e2166;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e21;
  outline: none;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid #59b17a;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 139px;
  gap: 8px;
  width: 100%;
  max-width: 335px;
  height: 44px;
  background: #59b17a;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #ffffff;
  margin-top: 115px;
  text-wrap: nowrap;
}

.button:hover {
  background: #3f945f;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e2166;
  margin-top: 14px;
}

.formCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    padding: 40px;
    background-size: 200px;
    align-items: start;
  }

  .page {
    background-size: 35%;
  }

  .titleCont {
    width: 614px;
  }

  .title {
    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form > * {
    grid-column: 1;
  }

  .image {
    width: 179px;
    height: 175px;
    top: -75px;
    right: 20px;
  }

  .button {
    width: 100%;
    max-width: unset;
    margin-top: 52px;
  }

  .link {
    margin-left: 14%;
  }

  .formCont {
    align-items: start;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    padding: 38px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .form {
    grid-column: 2;
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 334px;
  }

  .link {
    grid-column: 2;
    justify-self: center;
    margin-left: unset;
  }

  .page {
    background-size: 25%;
  }

  .formCont {
    align-items: center;
    margin-top: 40px;
  }
}
