/* [project]/src/app/register/page.module.css [app-client] (css) */
.page-module__nC61QG__titleCont {
  margin-top: 20px;
  position: relative;
}

.page-module__nC61QG__page {
  background-color: #f7f8fa;
  background-image: url("/elements.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.page-module__nC61QG__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  position: relative;
}

.page-module__nC61QG__image {
  position: absolute;
  top: -35px;
  right: 20px;
}

.page-module__nC61QG__title {
  color: #1d1e21;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}

.page-module__nC61QG__span {
  color: #59b17a;
}

.page-module__nC61QG__form {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  display: flex;
}

.page-module__nC61QG__field {
  width: 100%;
  position: relative;
}

.page-module__nC61QG__label {
  letter-spacing: 0;
  color: #1d1e2166;
  pointer-events: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  transition: all .2s;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.page-module__nC61QG__input {
  color: #1d1e21;
  background: #fff;
  border: 1px solid #1d1e211a;
  border-radius: 60px;
  outline: none;
  width: 100%;
  height: 44px;
  padding-left: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.page-module__nC61QG__input:hover, .page-module__nC61QG__input:focus, .page-module__nC61QG__input:active {
  border: 1px solid #59b17a;
}

.page-module__nC61QG__input:focus + .page-module__nC61QG__label, .page-module__nC61QG__input:not(:placeholder-shown) + .page-module__nC61QG__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.page-module__nC61QG__button {
  color: #fff;
  background: #59b17a;
  border: none;
  border-radius: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 335px;
  height: 44px;
  margin-top: 6px;
  padding: 13px 139px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
}

.page-module__nC61QG__button:hover {
  background: #3f945f;
}

.page-module__nC61QG__link {
  color: #1d1e2166;
  margin-top: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.page-module__nC61QG__formCont {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 375px) {
  .page-module__nC61QG__content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .page-module__nC61QG__content {
    background-size: 200px;
    align-items: start;
    width: 768px;
    padding: 40px;
  }

  .page-module__nC61QG__page {
    background-size: 35%;
  }

  .page-module__nC61QG__titleCont {
    width: 614px;
  }

  .page-module__nC61QG__title {
    font-size: 54px;
    font-weight: 600;
    line-height: 60px;
  }

  .page-module__nC61QG__form {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .page-module__nC61QG__image {
    width: 179px;
    height: 175px;
    top: -75px;
    right: 20px;
  }

  .page-module__nC61QG__button {
    width: 100%;
    max-width: unset;
    margin-top: 52px;
  }

  .page-module__nC61QG__link {
    margin-left: 13%;
  }

  .page-module__nC61QG__formCont {
    align-items: start;
  }
}

@media screen and (min-width: 1440px) {
  .page-module__nC61QG__content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 1440px;
    padding: 38px;
    display: grid;
  }

  .page-module__nC61QG__page {
    background-size: 25%;
  }

  .page-module__nC61QG__link {
    grid-column: 2;
    justify-self: start;
  }

  .page-module__nC61QG__formCont {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=src_app_register_page_module_ecb7f120.css.map*/