@import 'modern-normalize';

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;
  --primary-color: #2c3e50;
  --accent-color: #27ae60;
  --bg-color: #f7f8fa;
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 128px;
  }
}
