.page {
  width: 100%;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.content {
  width: 100%;
  gap: 10px;
  padding: 20px;
}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
        padding: 20px 40px;
  }}

@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    padding: 20px 38px;}}
