.page {
  width: 100%;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 30px 20px 60px;
}

.icon {
  fill: none;
  stroke: #1d1e21;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #1d1e21;
  margin-top: 0;
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productsCont {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 14px;
  width: 158px;
  height: 98px;
  background: #ffffff;
  border: 1px solid #59b17a;
  border-radius: 8px;
}

.productsCont:last-child {
  border: none;
}

.up {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #1d1e2166;
}

.amount {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1d1e21;
}

.customers {
  margin-top: 40px;
  width: 335px;
  height: fit-content;
  background: #ffffff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
  overflow-x: hidden;
}

.tableWrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #59b17a #f0f0f0;
}

.tableWrapper::-webkit-scrollbar {
  height: 8px;
  -webkit-appearance: none;
}

.tableWrapper::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
  margin: 0 8px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #59b17a;
  border-radius: 4px;
  min-width: 40px;
}

.tableTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1d1e21;
  margin-top: 0;
  background-color: #e8f0ed;
  padding: 16px 15px;
  margin: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.th {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #1d1e2166;
  text-align: left;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  padding: 16px 15px;
  margin: 0;
}

.th:first-child {
  border-left: none;
}

.th:last-child {
  border-right: none;
}

.tr {
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.tr:last-child {
  border-bottom: none;
}

.td {
  font-weight: 500;
  font-size: 12.5px;
  line-height: 18px;
  color: #1d1e21;
  padding: 16px 15px;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
}

.td:first-child {
  border-left: none;
}

.td:last-child {
  border-right: none;
}

.tdSpent {
  font-weight: 500;
  font-size: 12.5px;
  line-height: 18px;
  color: #1d1e21;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  padding: 20px 10px;
}

.viewBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 34px;
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #59b17a;
}

.viewBtn:hover {
  background-color: #59b17a;
  color: white;
}

.transactions {
  margin-top: 40px;
  width: 335px;
  height: fit-content;
  background: #ffffff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
}

.tbody {
  border-top: 1px solid rgba(29, 30, 33, 0.1);
}

.trContent {
  padding: 16px 15px;
  width: 90px;
}

.type {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: capitalize;
  background: rgba(89, 177, 122, 0.1);
  border-radius: 40px;
}

.type.income {
  color: #59b17a;
  background-color: rgba(89, 177, 122, 0.1);
  padding: 5px 20px;
}

.type.expense {
  color: #e85d75;
  background-color: rgba(232, 93, 117, 0.1);
  padding: 4px 16px;
}

.type.error {
  color: #6b7280;
  background-color: rgba(107, 114, 128, 0.1);
  padding: 4px 27px;
}

.trName {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #1d1e21;
}

.trAmount {
  padding: 16px 15px;
  text-align: right;
  width: 100px;
}

.amount {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.amount.income {
  color: #59b17a;
}

.amount.expense {
  color: #e85d75;
}

.amount.error {
  color: #1d1e21;
  text-decoration: line-through;
}

.date {
  border-bottom: 1px solid rgba(29, 30, 33, 0.1) !important;
}

.dateItem {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e2166;
  text-align: left;
  padding: 15px 20px 0;
  margin: 0;
}

.transactions thead {
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.tableTr {
  width: 100%;
  border-collapse: collapse;
}

.transactions thead th {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e2166;
  text-align: left;
  padding: 15px 20px;
  border: none;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.trItem {
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.trItem:last-child {
  border-bottom: none;
}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    padding: 40px 40px 70px;
  }

  .containers {
    gap: 20px;
    justify-content: start;
  }

  .productsCont {
    padding: 14px 18px;
    width: 221px;
    height: 108px;
  }

  .amount {
    font-size: 16px;
    line-height: 18px;
  }

  .span {
    font-size: 13px;
    line-height: 14px;
  }

  .customers {
    margin-top: 40px;
    width: 100%;
  }

  .tableTr {
    width: 100%;
  }

  .transactions {
    margin-top: 40px;
    width: 100%;
  }

  .td {
    font-size: 16px;
  }

  .tdSpent {
    font-size: 16px;
  }

  .trName {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1d1e21;
}
}

@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    padding: 60px 138px 50px;
  }

  .table {
    min-width: unset;
  }

  .conts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .productsCont {
    width: 240px;
    height: 108px;
  }

  .customers {
    width: 566px;
    overflow: hidden;
    margin-top: 40px;
  }

  .td {
    font-size: 14px;
  }

  .tdSpent {
    font-size: 14px;
  }

  .tableWrapper {
    overflow-x: unset;
  }

    .transactions {
    margin-top: 40px;
    width: 568px;
    height: 445px;
  }

  .trItem td {
    padding: 18px 15px;
  }
}
