.page {
  width: 100%;
  background-color: #f7f8fa;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #59B17A;
}

.content {
  width: 100%;
  gap: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.textContainer {
    width: 90%;
    max-width: 261px;
}

.text {
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #F7F8FA;
}

.links {
    display: flex;
    gap: 32px;
}

.link {
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: #F7F8FA;
}

.line {
max-width: 335px;
width: 100%;
height: 0px;
margin-top: 70px;
border: 1px solid rgba(247, 248, 250, 0.3);
}

.copyright {
font-weight: 300;
font-size: 11.5px;
line-height: 18px;
vertical-align: middle;
color: #F7F8FA;
letter-spacing: 0.2px;
}

.span {
opacity: 0.2;
border-radius: 8px;
}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    padding: 20px 40px;
  }
.cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.image {
    width: 172px;
    height: 44px;
}

.textContainer {
    width: 261px;
    max-width: unset;
}

.text {
    font-size: 16px;
line-height: 20px;
margin-top: 20px;
}

.links {
    margin-top: 9px;
}

.link {
font-size: 16px;
line-height: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
padding: 8px;
width: 44px;
height: 44px;
border: 1px solid rgba(247, 248, 250, 0.1);
border-radius: 10px;
}

.line {
max-width: 704px;
}

.copyright {
    align-self: center;
    font-size: 14px;
}

}

  @media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    padding: 20px 138px;
  }

.right {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 294px
}

.line {
max-width: 1440px;
margin-top: 64px;
}

.textContainer {
    width: 311px;
}

.text {
    margin-bottom: 0;
}

.media {
    margin-top: 1px;
}

.links {
    margin-top: 15px;
}

.copyright {
    margin: 20px 0 15px;
}
}
