.page {
  width: 100%;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 30px 20px 60px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #1d1e21;
  margin-bottom: 20px;
}

.owner {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #93939a;
  margin: 0;
  margin-bottom: 8px;
}

.ownerName {
  color: #1d1e21;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #93939a;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 18px;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 38px;
  background: rgba(89, 177, 122, 0.1);
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #59b17a;
  cursor: pointer;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 38px;
  background: #59b17a;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  color: #f7f8fa;
}

.tabsCont {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.tab {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 16px;
  margin-bottom: -1px;
  color: #93939a;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease;
  cursor: pointer;
}

.tab:hover {
  color: #666;
}

.tabActive {
  color: #1d1e21;
  border-bottom: 2px solid #59b17a;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.itemLi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.img {
  width: 100%;
  max-width: 335px;
  height: 300px;
  border: 1.15486px solid rgba(89, 177, 122, 0.6);
  border-radius: 20px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  max-width: 335px;
  padding: 20px;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.name {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: #1d1e21;
}

.category {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e2199;
  margin: 0;
}

.price {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 34px;
  background: #59b17a;
  border-radius: 24px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #f7f8fa;
  cursor: pointer;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #1d1e21;
  cursor: pointer;
}

.med {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filters {
display: flex;
flex-direction: column;
gap: 12px;
width: 100%;
margin-bottom: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
width: 100%;
height: 44px;
background: #FFFFFF;
border: 1px solid rgba(29, 30, 33, 0.1);
border-radius: 60px;
padding-left: 20px;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: rgba(29, 30, 33, 0.4);
position: relative;
}

.input::placeholder {
  color: rgba(29, 30, 33, 0.4);
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #59B17A;
}

.search {
  position: relative;
  width: 100%;
}

.button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8px;
width: 116px;
height: 44px;
background: #59B17A;
border-radius: 60px;
border: none;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #FFFFFF;
cursor: pointer;
}

.icon {
  position: absolute;
  stroke: #1D1E21;
  fill: none;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    padding: 40px 40px 70px;
  }

  .title {
    margin-bottom: 40px;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .owner {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 13px;
    row-gap: 20px;
  }

  .img {
    width: 100%;
    max-width: 218px;
    height: 250px;
  }

  .infoItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    max-width: 218px;
    padding: 15px;
  }

  .up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .name {
    text-wrap: nowrap;
    font-size: 14px;
  }

  .price {
    font-size: 14px;
    margin: 0;
  }

  .category{
    font-size: 11px;
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;

  }

  .search {
    width: 224px;
  }

}

@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
    padding: 60px 138px 50px;
  }

  .title {
    margin: 0;
    text-wrap: nowrap;
  }

  .shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

.filters {
  justify-content: start;
  gap: 12px;
}

  .text {
    text-wrap: nowrap;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .buttons {
    margin: 0;
  }

    .list {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 13px;
    row-gap: 20px;
  }

  .img {
    width: 280px;
    max-width: unset;
    height: 280px;
  }

  .infoItem {
    width: 280px;
    max-width: unset;
    padding: 20px;
  }

  .name {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
  }

  .btn:hover {
    background-color: #3F945F;
  }

  .category{
    font-size: 12px;
  }
}
