.titleCont {
  position: relative;
  margin-top: 20px;
}

/* .container {
min-height: 100vh;
width: 100%;
  background-image: url('/elements.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.page {
  min-height: 100vh;
  width: 100%;
  background-color: #F7F8FA;
  background-image: url('/elements.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.image {
  position: absolute;
  top: -35px;
  right: 20px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #1d1e21;
}

.span {
  color: #59b17a;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.field {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #1d1e2166;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e21;
  outline: none;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid #59b17a;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 139px;
  gap: 8px;
  width: 100%;
  max-width: 335px;
  height: 44px;
  background: #59b17a;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #ffffff;
  margin-top: 6px;
}

.button:hover {
  background: #3f945f;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1d1e2166;
  margin-top: 14px;
}

@media screen and (min-width: 375px) {
  .content {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    padding: 40px;
    background-size: 200px;
  }
}


@media screen and (min-width: 1440px) {
  .content {
    width: 1440px;
  }
}
